.container >h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5ch;

}
.input-field{
    
    margin-bottom: 50px;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: center;
    margin: auto;
}
.addTaskInput{
    height: 30px;

}
.taskList{
    margin: auto;
}




.form-style-1 {
	margin:10px auto;
	max-width: 600px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

.form-style-1 .field-divided{
	width: 100%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
 .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
