#mainContainer{
    max-width:  80%;
      /* border:3px solid red; */
     
 } 
 .row_1{
     margin: 15px;
     display: flex;
   
     /* border:1px solid rgb(145, 77, 14); */
 }
 .row_1ClientQuestion{
     margin-bottom: 1rem;
     /* flex-wrap: wrap; */
     flex-direction: row;
     display: flex ;
     /* border:2px solid rgb(28, 129, 168); */
    
 
 }
 .row_1ClientQuestion>.question{
     margin:30px;
     
     color: rgb(59,143,194);
 
 }
 .create {
     margin-left: 69%;
     border-radius: 5px;
     /* border:3px solid rgb(189, 5, 5); */
     flex-wrap: wrap;
     padding-top: 27px;
     margin-right: 10%;
 } 
 .row2_right_logo{
    margin-left: 65%;
 }
 .row2_right_search{
    margin-left: 65%;
 }
 #ClientCreate {
    text-align: center;
     border-radius: 5px;
     
 } 
 
 a:link, a:visited {
     background-color: rgb(59,143,194);
     color: white;
     /* padding: 0.9% 20%; */
     justify-content: center;
     text-decoration: none;
     display: inline-block;
     width: 150px ;
     height: 35px;
     border-radius: 6px;
     text-align: center;
     padding-top : 12px;
   }
   
   a:hover, a:active {
     background-color:rgb(59,143,194);
   }
 
 
 .row_2{
     display: flex;
     margin: 15px;
    
     /* border:3px solid rgb(5, 189, 180); */
 }
 
 .form-control{
     width: 250px;
     height: 35px;
     margin-right: 30px;
     text-align: center;
    
   
  }

 
   .row2_right{
       display: flex;
       margin-left: 55%;
       border: 2px solid orange;
   }
 
 
       
 .btn {
   background-color: #dceefa;
     border-color: #dceefa;
     color: rgb(59,143,194);
     padding: 8px;
     font-size: 13px;
     border:none;
     cursor: pointer;
     border-radius: 4px;
     align-items: center;
     margin:auto;
     text-align: center;
     display: inline block;
   }
  
   table{
     margin-top: 100px;
   }
 td, th {
     /* border: 1px solid #dddddd; */
     text-align: left;
     padding: 8px;
   }
 
   .name{
       width: 20%;
   }
   
 
 
   .person,.details,.status{
       width:15%;
   }
   .action{
       width: 15%;
   }
 
 
   th{
     border-bottom: 1px solid #ddd;
    color:  #666666;
    font-size: 0.867rem;
   }
  .fa-filter{
    color:rgb(178,178,178);
  }