.mainFlex {
  display: flex;
}
.html {
  font-size: 10px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  padding: 0px;
  margin: 0px;
}
.sidebarContainer {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 100vh;
  min-width: 200px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  border-right: 1px solid lightgray;
  justify-content: space-between;
}
.sidebarHead {
  display: flex;
  flex-direction: column;
}
.mainLogo img {
  margin: 6px;
  padding: 25px 20px;
  width: 65%;
}

i {
  padding: 0px 12px;
  font-size: 14px;
  font-weight: 200;
}

a .down1 {
  padding-left: 60px;
}

a .down2 {
  padding-left: 67px;
}

a .down3 {
  padding-left: 76px;
}

.track {
  padding: 0;
  margin: 0 !important;
  font-size: 14px !important;
}

.track:hover {
  color: #3b8fc2;
  opacity: 70;
  background-color: #dbe4ea;
  border-left: 4px solid #3b8fc2;
  cursor: pointer;
}
.reportsDiv {
  display: flex;
  flex-direction: column;
  border-left: 3px solid #3b8fc2;
}
.reportsDiv a {
  padding: 7px 36px;
  font-size: 12px;
  color: #343a40;
  cursor: pointer;
  border-left: 1px solid #3b8fc2;
}
.reportsDiv a:hover {
  color: black;
}

.clientDiv {
  display: flex;
  flex-direction: column;
  border-left: 3px solid #3b8fc2;
}
#clientDiv a {
  padding: 7px 36px !important;
  font-size: 12px;
  color: #343a40;
  cursor: pointer;
  border-left: 1px solid #3b8fc2;
}
.clientDiv a:hover {
  color: black;
}

#teamDiv {
  display: flex;
  flex-direction: column;
  border-left: 3px solid #3b8fc2;
}
#teamDiv a {
  padding: 7px 36px !important;
  font-size: 12px;
  color: #343a40;
  cursor: pointer;
  border-left: 1px solid #3b8fc2;
}
.teamDiv a:hover {
  color: black;
}

.sidebarFoot {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  justify-content: space-between;
}

.profile {
  width: 80%;
}

.flex {
  display: flex;
}

.ash {
  border-radius: 50%;
  border: 1px solid rgb(250, 120, 120);
  width: 50px;
  height: 40px;
  text-align: center;
  padding-top: 11px;
  margin: 1% 1% 1% 2%;
}

.profile p {
  margin-top: 3%;
}

.addTeam {
  text-decoration: none;
  margin-left: 50%;
  margin-top: 3%;
}

.profile h1 {
  margin: 2% 2%;
}

.icon {
  margin: 2% 0.5%;
  border: 1px solid #3b8fc2;
  border-radius: 2px;
  padding-top: 10px;
  cursor: pointer;
}

.lastFlex {
  display: flex;
}

.newList {
  background-color: white;
  color: #3b8fc2;
  margin: 2% 1%;
  height: 30px;
  border: none;
  cursor: pointer;
}

.card {
  width: 450px;
  height: 500px;
  margin: 0% 1% 1% 31.5%;
  border: 1px solid #3b8fc2;
  background-color: rgb(249, 250, 251);
  padding: 10px;
}

.flex1 {
  display: flex;
  flex-direction: row;
}

.box {
  margin: 1% 8%;
}

.edit {
  color: #3b8fc2;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgb(150, 140, 140);
  background-color: rgba(158, 141, 141, 0.4);
  margin: 10% 20%;
}

.fle {
  display: flex;
}

.clo {
  background-color: rgba(158, 141, 141, 0.4);
  border: none;
  margin-left: 400px;
}

.options {
    display: none;
    
}